[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solady-v0.1.26"]
	path = lib/solady-v0.1.26
	url = https://github.com/vectorized/solady
